body {
    background-color: rgb(244, 242, 239);
    color: rgb(174, 194, 137);
    font-family: Arial;
    margin: 0px;
}

main {
    color: rgb(174, 194, 137);
    font-family: Arial;
    margin: 5px;
    font-size: 14pt;
    font-weight: bold;
}

header {
    background-color: rgb(244, 219, 219);
    color: rgb(205, 70, 98);
    font-family: Arial;
    padding: 5px;
    font-size: 12pt; 
   }

footer {
    background-color: rgb(244, 219, 219);
    color: rgb(205, 70, 98);
    font-family: Arial;
    padding: 5px;
    font-size: 12pt; 
    font-style: italic; 
    text-align: right;
}

a {
    text-decoration: none;
    color: rgb(174, 194, 137);   
}
