body {
    background-color: rgb(244, 242, 239);
    color: rgb(174, 194, 137);
    font-family: Arial;
    margin: 0px;
}

main {
    color: rgb(174, 194, 137);
    font-family: Arial;
    margin: 10px 20px 45px;
    font-size: 14pt;
    font-weight: bold;
    height: 0;
}

header {
    background-color: rgb(244, 219, 219);
    color: rgb(205, 70, 98);
    font-family: Arial;
    padding: 5px;
    font-size: 12pt; 
   }

footer {
    background-color: rgb(244, 219, 219);
    color: rgb(205, 70, 98);
    font-family: Arial;
    padding: 5px;
    font-size: 12pt; 
    font-style: italic; 
    text-align: right;
    position: fixed;
    bottom: 0px;
    right: 0px;
    left: 0px;
}

a {
    text-decoration: none;
    color: rgb(174, 194, 137);   
    /* transition: 1s 0.5s; */
}

a:link {
    text-decoration: none;
    color: rgb(117, 130, 93);   
}

a:visited {
    color:  rgb(174, 194, 137);
}

a:hover {
    color: rgb(147, 166, 111); 
    font-style: oblique;
    text-shadow:  4px 3px 3px rgba(38, 109, 75, 0.142);
    /* transition: 0.3s; */
}

a:active {
    color:rgb(205, 70, 98);
    opacity: 0.5;
    /* transition: 0s; */
}

div.menu {
    border: 5px dashed;
    border-radius: 5px;
    width: 300px;
    margin: 0 auto;
}

div.menu:hover {
    border: 5px solid;
    background-color:  rgba(142, 160, 110, 0.153);
}
